<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="{{ path_template }}/images/favicon.gif" type="image/x-icon" />
<link type="text/css" href="{{ path_template }}/css/bad-browser.css" rel="stylesheet" />
<link type="text/css" href="{{ path_template }}/css/style.css" rel="stylesheet" />
<title>У Вас устаревший браузер!</title>
</head>
<body>
  <header>
    <a class="fl-left" id="logotype" href="/admin/">CMS PhotoPro</a>
  </header> 
  <div id="page">
    <h1>ВНИМАНИЕ! Ваша версия браузера {{ browser_name }} {{ browser_version }} устарела!</h1>
    &nbsp;<br />&nbsp;<br />
    Данный сайт построен на более современных технологиях чем версия Вашего браузера.<br />
Предлагаем Вам воспользоваться одним из ряда браузеров свободно доступных для использования.<br />
&nbsp;<br />&nbsp;<br />
<table width="990" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td>
          <a href="http://fx.yandex.ru/" title="FireFox"><img src="{{ path_template }}/images/firefox.jpg" alt="" border="0" /></a>
        </td>
        <td>
          <a href="http://www.google.ru/chrome/" title="Chrome"><img src="{{ path_template }}/images/chrome.jpg" alt="" border="0" /></a>
        </td>
        <td>
          <a href="http://opera.yandex.ru/" title="Opera"><img src="{{ path_template }}/images/opera.jpg" alt="" border="0" /></a>
        </td>
        <td>
          <a href="http://www.apple.com/ru/safari/download/" title="Safari"><img src="{{ path_template }}/images/safari.jpg" alt="" border="0" /></a>
        </td>
        <td>
          <a href="http://ie.yandex.ru/" title="Internet Explorer"><img src="{{ path_template }}/images/ie.jpg" alt="" border="0" /></a>
        </td>
    </tr>
    <tr>
        <td>
          <a href="http://fx.yandex.ru/" title="Mozilla FireFox">Mozilla Firefox</a>
        </td>
        <td>
          <a href="http://www.google.ru/chrome/" title="Chrome">Хром</a>
        </td>
        <td>
          <a href="http://opera.yandex.ru/" title="Opera">Opera</a>
        </td>
        <td>
          <a href="http://www.apple.com/ru/safari/download/" title="Safari">Safari</a>
        </td>
        <td>
          <a href="http://ie.yandex.ru/" title="Internet Explorer">Internet Explorer</a>
        </td>
    </tr>
</table>
&nbsp;<br />&nbsp;<br />
Настоятельно Вам рекомендуем выбрать и установить любой из современных браузеров.<br />
<h1>Это бесплатно и займет всего несколько минут.</h1>
  </div>
</body>
</html>