{% set title = P.page_title %}
{% set keywords = P.page_keywords %}
{% set description = P.page_description|striptags %}

{% extends "index.html" %}

{% block head %}
  {% if form_exist %}
    <link type="text/css" href="{{ path_template }}/redactor/css/redactor.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ path_template }}/redactor/redactor.js"></script>
    <script type="text/javascript" src="{{ path_template }}/js/form-constructor.js"></script>
    <script type="text/javascript" src="{{ path_template }}/js/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript">
      $(function (){
        formConstructor.init($('.form'));
        $('.redactor').redactor({
          'toolbar':'main',
          'image_upload': '/upload/',
          'file_delete': '/upload/file_delete/?delete='
        });
        $('.phone').each(function(){
          if ($(this).attr('data-mask') != undefined) {
            $(this).mask($(this).attr('data-mask'));
          }
        }); 
      });
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="page">
    <h1 class="title">{% if P.category_url and P.category_title %}<a href="/category/{{ P.category_url }}/">{{ P.category_title }}</a> / {% endif %}{{ P.page_title }}</h1>
    {{ P.page_content|raw }}
  </div>
  {% include "catalogpro/views/dop_info.html" %}
{% endblock %}