<div class="paging">
  {% if total_rows > 0 %}
    <ul class="pages">
      {% if total_pages != 1 %}
        <li class="prev-page"><a href="{{ base_url }}{% if current_page > 1%}{{ current_page - 1 }}{% else %}1{% endif %}/">&nbsp;</a></li>
      {% endif %}
      <li class="{% if current_page == 1 %}current{% endif %}"><a href="{{ base_url }}1/">1</a></li>
      
      {% if current_page > 2 + num_links %}
        <li class="prev">...</li>
        {% set a = current_page - num_links  %}
        {% set b = current_page - 1  %}
        {% for i in a..b %}
          <li><a href="{{ base_url }}{{ i }}/">{{ i }}</a></li>
        {% endfor %}
      {% else %}
        {% set a = 2  %}
        {% set b = current_page - 1  %}
        {% if a <= b %}
          {% for i in a..b %}
            <li><a href="{{ base_url }}{{ i }}/">{{ i }}</a></li>
          {% endfor %}
        {% endif %}
      {% endif %}
      
      
      {% if current_page != 1 and current_page != total_pages %}
        <li class="current"><a href="{{ base_url }}{{ current_page }}/">{{ current_page }}</a></li>
      {% endif %}
  
      
      {% if current_page < total_pages - num_links - 1 %}
        {% set a = current_page + 1  %}
        {% set b = current_page + num_links  %}
        {% for i in a..b %}
          <li><a href="{{ base_url }}{{ i }}/">{{ i }}</a></li>
        {% endfor %}
        <li class="prev">...</li>
      {% else %}
        {% set a = current_page + 1  %}
        {% set b = total_pages - 1  %}
        {% if a <= b %}
          {% for i in a..b %}
            <li><a href="{{ base_url }}{{ i }}/">{{ i }}</a></li>
          {% endfor %}
        {% endif %}
      {% endif %}
      
      {% if total_pages != 1 %}
        <li class="{% if current_page == total_pages %}current{% endif %}"><a href="{{ base_url }}{{ total_pages }}/">{{ total_pages }}</a></li>
      {% endif %}
      {% if total_pages != 1 %}
        <li class="next-page"><a href="{{ base_url }}{% if current_page < total_pages%}{{ current_page + 1 }}{% else %}{{ total_pages }}{% endif %}/">&nbsp;</a></li>
      {% endif %}
    </ul>
  {% endif %}
  
  <div class="fl-left total-rows">
  <b>всего {{ paging_name|lower }} </b> : {{ total_rows }}
  </div>
  <form action="" method="post">  
    <div class="per-page fl-right">
      на странице 
      <input type="image" class="per-page-button" src="{{ path_template }}/images/per-page.jpg" />
      <input type="text" class="per-page-input" name="per_page" value="{{ per_page }}" size="3"/>
    </div>
  </form>
</div>
<div class="cleared"></div>
<script type="text/javascript">
  $(function(){
    function place_paging() {
      var h = $(window).height();
      var w = $('body').innerWidth();
      var t = h - 130;
      if (t < 150 ) t = h - 30;
      var l= (w - 1130) / 2;
      if (l < 0 ) l = 0;
      $('.paging').css({'top':t,'left':l});
    }
    place_paging();
    $(window).resize(function(){
      place_paging();
    });
  });
</script>