<?xml version="1.0" encoding="UTF-8"?>
<controller>
  <title>Настройки</title>
  <name>settings</name>
  <description>В этом разделе Вы можете изменить необходимые настройки</description>
  <sort>8</sort>
  <method display="none">
    <title>Настройки сайта</title>
    <name>index</name>
    <description></description>
  </method>       
</controller>