{% extends "index.html" %}

{% block content %}
  <form action="" method="post" id="user-data">
    <div class="cleared" style="margin-top:20px;"></div>
    <label for="user_email">Email</label>
    <div class="cleared"></div>
    <input type="text" name="user_email" value="{{ U.user_email }}" size="26" style="display:block; width:400px;" />
    
    <div class="cleared" style="margin-top:20px;"></div>
    <label for="user_password">Новый пароль <i style="color:#ababab;">(введите если необходим новый)</i></a></label>
    <div class="cleared"></div>
    <input type="text" name="user_password" value="" size="26" style="display:block; width:400px;" />

    <div class="cleared" style="margin-top:20px;"></div>
    <label for="user_last_name">Фамилия</label>
    <div class="cleared"></div>
    <input type="text" name="user_last_name" value="{{ U.user_last_name }}" size="26" style="display:block; width:400px;" />

    <div class="cleared" style="margin-top:20px;"></div>
    <label for="user_first_name">Имя</label>
    <div class="cleared"></div>
    <input type="text" name="user_first_name" value="{{ U.user_first_name }}" size="26" style="display:block; width:400px;" />

    <div class="cleared" style="margin-top:20px;"></div>
    <label for="user_patronymic">Отчество</label>
    <div class="cleared"></div>
    <input type="text" name="user_patronymic" value="{{ U.user_patronymic }}" size="26" style="display:block; width:400px;" />

    <div class="cleared" style="margin-top:20px;"></div>
    <label for="user_sex">Пол</label>
    <div class="cleared"></div>
    <input type="radio" name="user_sex" value="1" {% if U.user_sex == 1 %}checked{% endif %}/> Мужской
    <input type="radio" name="user_sex" value="0" {% if U.user_sex == 0 and  U.user_sex != '' %}checked{% endif %}/> Женский<br/>
    <div class="cleared" style="margin-top:20px;"></div>
    
    <input type="checkbox" name="user_admin" {% if U.user_admin != '' %}checked{% endif %}/> 
    <label for="user_sex">Пользователь является администратором</label>

    <div class="cleared" style="margin-top:20px;"></div>
    <input type="submit" value="Обновить" id="update" />
  </form>

{% endblock %}