{% extends "index.html" %}

{% block head %}
  <script type="text/javascript" src="{{ path_template }}/js/jquery.tabsPro-0.3.min.js"></script>
  <link type="text/css" href="{{ path_template }}/css/jquery.tabsPro-0.3.css" rel="stylesheet" />
  <script type="text/javascript">
    $(function(){
      $('.template').click(function(){
        $('#site_template').val($(this).attr('data-name'));
        $('.current').removeClass('current');
        $(this).addClass('current');
      });
      $('#tabs-pro').tabsPro({
        classTabPassive: 'tab',
        classTabActive:  'tab-active',
        classTabContent: 'tab-content',
        showErrors: true
      });
    });
  </script>
{% endblock %}

{%  block content %}
<form action="" method="post" id="user-data">
  <div id="tabs-pro">
    <a href="#templates" class="tab fl-left" rel="tab1">
      Шаблоны
    </a>
    <a href="#images" class="tab fl-left" rel="tab2">
      Изображения
    </a>
    <a href="#database" class="tab fl-left" rel="tab3">
      База данных
    </a>
    <a href="#common" class="tab fl-left" rel="tab4">
      Общие
    </a>
    <a href="#main" class="tab fl-left" rel="tab5">
      Главная страница
    </a>

      
    {# Первая вкладка - шаблоны #}
    <div id="tab1" class="fl-left tab-content">
      <div class="cleared" style="margin-top:20px;"></div>
      <div class="cleared"></div>
      {% for T in TEMPLATE %}
        <div class="fl-left template {% if CONFIG.site_template == T.template_name %}current{% endif %}" data-name="{{ T.template_name }}">
          <div class="screenshot"><img src="{{ T.screenshot }}" border="0"/></div>
          <div class="template-name">{{ T.template_name }}</div>
        </div>
      {% endfor %}
      <input type="hidden" name="site_template" id="site_template" value="{{ CONFIG.site_template }}" />
    </div>

    {# Вторая вкладка - изображения #}
    <div id="tab2" class="fl-left tab-content">
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="image_quality">Качество исходных изображение на сервере</label>
      <input type="text" name="image_source[quality]" id="image_source_quality" value="{{ CONFIG.image_source.quality }}" size="26" style="display:block; width:400px;" />

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="image_quality">Максимальная ширина исходного изображения на сервера</label>
      <input type="text" name="image_source[max_width]" id="image_source_max_width" value="{{ CONFIG.image_source.max_width }}" size="26" style="display:block; width:400px;" />

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="image_quality">Максимальная высота исходного изображения на сервера</label>
      <input type="text" name="image_source[max_height]" id="image_source_max_height" value="{{ CONFIG.image_source.max_height }}" size="26" style="display:block; width:400px;" />

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="image_quality">Качество изображений при ресайзе</label>
      <input type="text" name="image_quality" id="image_quality" value="{{ CONFIG.image_quality }}" size="26" style="display:block; width:400px;" />

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="image_quality">Качество изображений при ресайзе</label>
      <input type="text" name="image_quality" id="image_quality" value="{{ CONFIG.image_quality }}" size="26" style="display:block; width:400px;" />
      
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="wm_vrt_alignment">Выравнивание водяного знака (по вертикали)</label>
      <select name="wm_vrt_alignment" id="wm_vrt_alignment" style="display:block; width:410px;">
        <option value="top" {% if CONFIG.wm_vrt_alignment == 'top' %}selected{% endif %}>Верх</option>
        <option value="middle" {% if CONFIG.wm_vrt_alignment == 'middle' %}selected{% endif %}>Середина</option>
        <option value="bottom" {% if CONFIG.wm_vrt_alignment == 'bottom' %}selected{% endif %}>Низ</option>
      </select>

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="wm_hor_alignment">Выравнивание водяного знака (по горизонтали)</label>
      <select name="wm_hor_alignment" id="wm_hor_alignment" style="display:block; width:410px;">
        <option value="left" {% if CONFIG.wm_hor_alignment == 'left' %}selected{% endif %}>Слева</option>
        <option value="center" {% if CONFIG.wm_hor_alignment == 'center' %}selected{% endif %}>По центру</option>
        <option value="right" {% if CONFIG.wm_hor_alignment == 'right' %}selected{% endif %}>Справа</option>
      </select>
    </div>

    {# Третья вкладка - база дынных #}
    <div id="tab3" class="fl-left tab-content">
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_hostname">Хост</label>
      <input type="text" name="db_hostname" id="db_hostname" value="{{ CONFIG.db_hostname }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_username">Пользователь</label>
      <input type="text" name="db_username" id="db_username" value="{{ CONFIG.db_username }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_password">Пароль</label>
      <input type="password" name="db_password" id="db_password" value="{{ CONFIG.db_password }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_database">Имя базы</label>
      <input type="text" name="db_database" id="db_database" value="{{ CONFIG.db_database }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_dbprefix">Префикс таблиц</label>
      <input type="text" name="db_dbprefix" id="db_dbprefix" value="{{ CONFIG.db_dbprefix  }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_char_set">Кодировка</label>
      <input type="text" name="db_char_set" id="db_char_set" value="{{ CONFIG.db_char_set }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_dbcollat">Сопоставление</label>
      <input type="text" name="db_dbcollat" id="db_dbcollat" value="{{ CONFIG.db_dbcollat }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="db_table_type">Тип таблиц</label>
      <input type="text" name="db_table_type" disabled="true" id="db_table_type" value="{{ CONFIG.db_table_type }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="display:none; margin-top:20px;">
      <div class="cleared" style=" margin-top:20px;"></div>
      <label for="db_cache_on">Кеширование</label>
      <input type="radio" name="db_cache_on" value="TRUE" id="db_cache_on" {% if CONFIG.db_cache_on == true %}checked="true"{% endif %} /><label for="db_cache_on"> Вкл.</label>
      <input type="radio" name="db_cache_on" value="FALSE" id="db_cache_off" {% if CONFIG.db_cache_on == false %}checked="true"{% endif %} /><label for="db_cache_off"> Откл.</label>
      </div>
    </div>

    {# Четвертая вкладка - общие #}
    <div id="tab4" class="fl-left tab-content">
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="site_close">Закрыть сайт<br /><i style="color:#ababab;">(укажите html-код который увидит пользователь)</i></label>
      <input type="text" name="site_close" id="site_close" value="{{ CONFIG.site_close }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="site_close">Email администратора сайта</label>
      <input type="text" name="admin_email" id="admin_email" value="{{ CONFIG.admin_email }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="show_vote">Разрешить показывать голосования</label>
      <select name="show_vote" id="show_vote" style="display:block; width:410px;">
        <option value="1" {% if CONFIG.show_vote == 1%}selected{% endif %}>Да</option>
        <option value="0" {% if CONFIG.show_vote == 0%}selected{% endif %}>Нет</option>
      </select>

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="lower_ie">Закрыть браузеры IE ниже</label>
      <input type="text" name="block_browser_lower[ie]" id="lower_ie" value="{{ CONFIG.block_browser_lower.ie }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="lower_firefox">Закрыть браузеры Firefox ниже</label>
      <input type="text" name="block_browser_lower[firefox]" id="lower_firefox" value="{{ CONFIG.block_browser_lower.firefox }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="lower_opera">Закрыть браузеры Opera ниже</label>
      <input type="text" name="block_browser_lower[opera]" id="lower_opera" value="{{ CONFIG.block_browser_lower.opera }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="lower_chrome">Закрыть браузеры Chrome ниже</label>
      <input type="text" name="block_browser_lower[chrome]" id="image_quality" value="{{ CONFIG.block_browser_lower.chrome }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="lower_safari">Закрыть браузеры Safari ниже</label>
      <input type="text" name="block_browser_lower[safari]" id="lower_safari" value="{{ CONFIG.block_browser_lower.safari }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="encryption_key">Ключ для шифрования паролей</label>
      <input type="text" name="encryption_key" disabled="" id="encryption_key" value="{{ CONFIG.encryption_key }}" size="26" style="display:block; width:400px;" />
  
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="sess_expiration">Время жизни сессии <i style="color:#ababab;">(сек.)</i></label>
      <input type="text" name="sess_expiration" id="sess_expiration" value="{{ CONFIG.sess_expiration }}" size="26" style="display:block; width:400px;" />

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="site_close">nginx<br /><i style="color:#ababab;">(если у Вас не отображаются картинки в галереях<br/>попробуйте установить значение ".nginx")</i></label>
      <input type="text" name="nginx" id="nginx" value="{{ CONFIG.nginx }}" size="26" style="display:block; width:400px;" />

    </div>
    
    {# Пятая вкладка - настройки главной страницы #}
    <div id="tab5" class="fl-left tab-content">
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="main_gallery_id">Главная гелерея</label>
      <select name="main_page[gallery_url]" id="gallery_url" style="display:block; width:410px;">
        <option value="">- - - - - - - </option>
        {% for G in GALLERY %}
          <option value="{{ G.gallery_url }}" {% if CONFIG.main_page.gallery_url == G.gallery_url %}selected{% endif %}>{{ G.gallery_title }}</option>
        {% endfor %}
      </select>
      
      <div class="cleared" style="margin-top:20px;"></div>
      <label for="main_gallery_delay">Скорость переключения слайдов <i style="color:#ababab;">(сек.)</i></label>
      <input type="text" name="main_page[gallery_delay]" id="gallery_delay" value="{{ CONFIG.main_page.gallery_delay }}" size="26" style="display:block; width:400px;" />

      <div class="cleared" style="margin-top:20px;"></div>
      <label for="main_gallery_count">Количество галерей на главной</label>
      <input type="text" name="main_page[gallery_count]" id="gallery_count" value="{{ CONFIG.main_page.gallery_count }}" size="26" style="display:block; width:400px;" />
      
    </div>
  </div>

  <div class="cleared" style="margin-top:20px;"></div>
  <input type="submit" value="Обновить" id="update" />

</form>

{%  endblock %}